html {
  font-family: "Noto Serif", serif;
}

header {
  background-color: #70ad55;
  color: #fff;
}

fieldset {
  border: 0;
}

@media only screen and (min-width: 38em) {

  .space-right {
    padding-right: .5em;
  }

  .space-left {
    padding-left: .5em;
  }

}

.flag-optional {
  color: #70ad55;
}

hr {
  border-color: #70ad55;
  opacity: .3;
}

textarea {
  min-height: 10em;
}

.btn {
  background-color: #6e8c62;
  border-color: #6e8c62;
}

input,
select,
textarea {
  border-color: #6e8c62;
}

footer {
  background-color: #70ad55;
}
